.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  
  .landing-login,
  .landing-image {
    flex: 1;
  }

  .landing-login > div {
    display: flex;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
