.login-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 20%;
  border-radius: 10px;

  .form-logo {
    margin-bottom: 16px;

    h1 {
      font-weight: 700;
      font-size: 56px;
      margin-bottom: 8px;
    }
  }

  .btn-submit {
    margin-top: 16px;
    width: 100%;
  }
}
