@import 'variables';

.content {
  margin-left: $sidebar-width;
  padding: 30px;
  height: 300vh;
}

.card-age-label {
  display: flex;
  justify-content: flex-end;
}

.content-container {
  display: flex;
  margin-top: 100px;
  flex: 1;
  justify-content: space-evenly;
}

.assignee-list, .visit-list {
  min-width: 200px;
}

.photo-gallery {
  width: 50%;
  max-width: 680px;
  min-width: 350px;
  background-color: gray;
}
